.dust-page {
  margin: 30px auto !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  > h3 {
    margin-bottom: 20px;
  }
}

.dust-list-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;

  > li {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 4px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    .info-box {
      width: 100%;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      padding: 15px;
      box-sizing: border-box;
      width: 100%;
      > li {
        display: flex;
        line-height: 1.5;
        font-size: 0.8rem;
        margin-bottom: 5px;
        > em {
          position: relative;
          font-style: normal;
          min-width: 120px;
          margin-right: 20px;
        }
        > em::after {
          position: absolute;
          content: '';
          width: 2px;
          height: 80%;
          top: 50%;
          right: -10px;
          transform: translateY(-50%);
          background: #dfdfdf;
        }
        > span {
          display: flex;
        }
      }
    }
    > button {
    }
    > button.on {
      color: red;
    }
  }

  .dust0 {
    border: 4px solid rgba($color: #0000ff, $alpha: 0.6);
  }
  .dust1 {
    border: 4px solid rgba($color: #00ff00, $alpha: 0.6);
  }
  .dust2 {
    border: 4px solid rgba($color: #ffff00, $alpha: 0.6);
  }
  .dust3 {
    border: 4px solid rgba($color: #ff0000, $alpha: 0.6);
  }
}
